@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;900&display=swap');
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #020c1b;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
}
