@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,100&display=swap');
:root {
    --dark-blue: #020c1b;
    --white: #ffffff;
    --red: #c32f27;
    --dark-red: #780116;
    --yellow: #fdc435;
    --light-orange: #db7c26;
    --dark-orange: #d8572a;
    --light-grey: #E7E7E7;
  }

body{
    /* height: 100vh; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--dark-blue); */
    font-family: 'Roboto', sans-serif;
    background-color: #f3fbff;
}
.App{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100px 3fr;
    grid-template-rows: 100vh;
    grid-template-areas: 'sidebar home'
                        'sidebar project'
    ;
}
.icon{
    font-family: 'Rubik Iso', cursive;
    color: var(--red);
}
.link{
    color:var(--yellow);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid var(--white);
    background-color: var(--light-grey);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    color: black;
    font-weight: 100;
    text-decoration: none;
    margin: 1rem;
}
a:hover{
    color:var(--yellow);
}

.sidebar{
    grid-area: sidebar;
    height: 100vh;
    width: 100px;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tech{
    width: 200px;
}
.home{
    grid-area: home;
    margin-top: 2rem;
}
.projects{
    grid-area: projects;
}
.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.personal-info{
    width: 40rem;
    font-weight: 200;
    line-height: 2rem;

}
span{
    color: var(--yellow);
}